In [2]:
# Data manipulation libraries
import pandas as pd
import numpy as np

# Data visualization libraries
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
goal_scorer_df = pd.read_csv('./Data/goalscorers.csv')
results_df = pd.read_csv('./Data/results.csv')
shootouts_df = pd.read_csv('./Data/shootouts.csv')

print(results_df.shape[0])

44762

In [4]:
goal_scorer_df.head(2)

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False

In [5]:
results_df.head(2)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False

In [6]:
shootouts_df.head(2)

         date    home_team         away_team       winner
0  1967-08-22        India            Taiwan       Taiwan
1  1971-11-14  South Korea  Vietnam Republic  South Korea

In [7]:
total_teams = goal_scorer_df.home_team.unique()
print('Total teams in the dataset : ', len(total_teams))

Total teams in the dataset :  220

In [8]:
print('Goal scorer records:\t',goal_scorer_df.shape[0])
print('Results records:\t', results_df.shape[0])
print('Shootout records:\t', shootouts_df.shape[0])

Goal scorer records:	 41113
Results records:	 44762
Shootout records:	 556

# Match Number analysis

In [9]:
def make_id(df:pd.DataFrame):
    df['ID'] = df.date+ '-' + df.home_team+ '-' + df.away_team
    return df
id_goal_scorer_df = make_id(goal_scorer_df)
id_results_df = make_id(results_df)
id_shootouts_df = make_id(shootouts_df)

### **Q** : Are there any null valeus in data?

**Ans** : *Total null values found are 307 ;*
- **results.csv** : No null values (By running block: 1.0).
- **goalscorer.csv** :      Null values found (By running block: 1.1)
    - scorer column has 49 null values
    - minute has 258 null values.
- **shootout.csv** :        No null values (By running block: 1.2)

In [10]:
# block : 1.0
results_df.isnull().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
ID            0
dtype: int64

In [11]:
# block : 1.1
id_goal_scorer_df.isnull().sum()

date           0
home_team      0
away_team      0
team           0
scorer        49
minute       258
own_goal       0
penalty        0
ID             0
dtype: int64

In [12]:
# block : 1.2
id_shootouts_df.isnull().sum()

date         0
home_team    0
away_team    0
winner       0
ID           0
dtype: int64

### **Q** : Does *goalscorer* and *shootout* tables contain entries for every match in *results* table?

*Total matches data present in results table : 44762*

**A** : From the block below following conclusions have been extracted:
- Goalscorer table contains all the entreis against entries in results table.
    - Total rows Entries in goal scorer :			41113
    - Matches data present in goalscorer for data in results:	41113
- Shootouts table has 1 row that has not been recorded in results table and all other 555 entries have data against them in results table.
    - Total rows Entries in goal scorer :			556
    - Matches data present in shootouts for data in results :	555

In [13]:
total_matches = id_results_df.shape[0]

res_in_gs_df = id_goal_scorer_df[id_goal_scorer_df.ID.isin(id_results_df.ID)].shape[0]
res_in_so_df = id_shootouts_df[id_shootouts_df.ID.isin(id_results_df.ID)].shape[0]
print(f'Total matches data present in results :\t\t\t{total_matches}')
print('----')
print(f'Total rows Entries in goal scorer :\t\t\t{id_goal_scorer_df.shape[0]}')
print(f'Matches data present in goalscorer for data in results:\t{res_in_gs_df}')
print('----')
print(f'Total rows Entries in goal scorer :\t\t\t{id_shootouts_df.shape[0]}')
print(f'Matches data present in shootouts for data in results :\t{res_in_so_df}')

Total matches data present in results :			44762
----
Total rows Entries in goal scorer :			41113
Matches data present in goalscorer for data in results:	41113
----
Total rows Entries in goal scorer :			556
Matches data present in shootouts for data in results :	555

### **Q** : Does *Results* table contain entries for every match in *goalscorer* and *shootout*  tables?

*Ans* : We found total 13,692 matches whose data is available in goalscorer and shootouts tables.
-   Results table contains 13,259 matches data whose data is present in goalscorer table.
-   Results table contains 555 matches data whose data is present in shootouts table.

In [35]:
total_matches = id_results_df.shape[0]

gs_in_res_df = id_results_df[id_results_df.ID.isin(id_goal_scorer_df.ID)]
so_in_res_df = id_results_df[id_results_df.ID.isin(id_shootouts_df.ID)]
common_in_gs_so = gs_in_res_df[gs_in_res_df.ID.isin(so_in_res_df.ID)]

match_data_available_for_gs_in_res = gs_in_res_df.shape[0]
match_data_available_for_so_in_res = so_in_res_df.shape[0]
count_common_in_gs_so = common_in_gs_so.shape[0]

print(f'e1: Total matches data avalible in results df table:\t\t {total_matches}')
print('----')
print(f'e2: Total matches present in results table and goalscorer table: {match_data_available_for_gs_in_res}')
print(f'e3: Total matches present in results table and shootout table:\t {match_data_available_for_so_in_res}')
print('----')
print(f'e4: Common matches in goalscorer and shootout table:\t\t {count_common_in_gs_so}')
print('----')
total_valid_entries = match_data_available_for_gs_in_res + match_data_available_for_so_in_res - count_common_in_gs_so
print(f'Total valid matches in results table: (e2+e3-2*e4)\t\t {total_valid_entries}')

e1: Total matches data avalible in results df table:		 44762
----
e2: Total matches present in results table and goalscorer table: 13259
e3: Total matches present in results table and shootout table:	 555
----
e4: Common matches in goalscorer and shootout table:		 122
----
Total valid matches in results table: (e2+e3-2*e4)		 13692

In [66]:
total_valid_entries_df = pd.merge(gs_in_res_df, so_in_res_df, on="ID", how='outer').ID
total_valid_entries_df

0                              1916-07-02-Chile-Uruguay
1                            1916-07-06-Argentina-Chile
2                               1916-07-08-Brazil-Chile
3                           1916-07-10-Argentina-Brazil
4                             1916-07-12-Brazil-Uruguay
                              ...
13687                   2023-06-17-Suriname-Puerto Rico
13688                          2023-06-18-Croatia-Spain
13689    2023-06-20-Saint Kitts and Nevis-French Guiana
13690                          2023-07-01-India-Lebanon
13691                           2023-07-04-India-Kuwait
Name: ID, Length: 13692, dtype: object

#### **Q** :

In [58]:
entries_for_so_in_gs = id_results_df[id_results_df.home_score == id_results_df.away_score]
id_results_df[~id_results_df.ID.isin(id_shootouts_df.ID)]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,ID
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872-11-30-Scotland-England
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873-03-08-England-Scotland
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874-03-07-Scotland-England
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875-03-06-England-Scotland
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876-03-04-Scotland-England
...,...,...,...,...,...,...,...,...,...,...
44755,2023-07-08,Mexico,Costa Rica,2,0,Gold Cup,Arlington,United States,True,2023-07-08-Mexico-Costa Rica
44756,2023-07-09,Guatemala,Jamaica,0,1,Gold Cup,Cincinnati,United States,True,2023-07-09-Guatemala-Jamaica
44759,2023-07-12,Jamaica,Mexico,0,3,Gold Cup,Paradise,United States,True,2023-07-12-Jamaica-Mexico
44760,2023-07-16,Kernow,Sápmi,2,1,CONIFA World Football Cup qualification,Falmouth,England,False,2023-07-16-Kernow-Sápmi
44761,2023-07-16,Mexico,Panama,1,0,Gold Cup,Inglewood,United States,True,2023-07-16-Mexico-Panama

# Match Analysis
By Ahzam

In [15]:
gs_res_df = gs_res_df.reset_index()
sr_res_df = sr_res_df.reset_index()
gr_res_df = gr_res_df.reset_index()
results_df.shape[0] - gr_res_df.shape[0]

NameError: name 'gs_res_df' is not defined

In [ ]:
cleaned_id_results_by_gs_df = id_results_df[id_results_df.ID.isin(id_goal_scorer_df.ID)]
cleaned_id_results_by_so_df = id_results_df[id_results_df.ID.isin(id_shootouts_df.ID)]

uncommon_in_so_df = id_shootouts_df[~id_shootouts_df.ID.isin(id_goal_scorer_df.ID)]
uncommon_in_so_df = id_results_df[id_results_df.ID.isin(uncommon_in_so_df.ID)]

uncommon_in_gs_df = id_goal_scorer_df[~id_goal_scorer_df.ID.isin(id_shootouts_df.ID)]
uncommon_in_gs_df = id_results_df[id_results_df.ID.isin(uncommon_in_gs_df.ID)]

uncommon_in_gs_df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,ID
438,1916-07-02,Chile,Uruguay,0,4,Copa América,Buenos Aires,Argentina,True,1916-07-02-Chile-Uruguay
440,1916-07-06,Argentina,Chile,6,1,Copa América,Buenos Aires,Argentina,False,1916-07-06-Argentina-Chile
441,1916-07-08,Brazil,Chile,1,1,Copa América,Buenos Aires,Argentina,True,1916-07-08-Brazil-Chile
442,1916-07-10,Argentina,Brazil,1,1,Copa América,Buenos Aires,Argentina,False,1916-07-10-Argentina-Brazil
444,1916-07-12,Brazil,Uruguay,1,2,Copa América,Buenos Aires,Argentina,True,1916-07-12-Brazil-Uruguay
...,...,...,...,...,...,...,...,...,...,...
44754,2023-07-08,Panama,Qatar,4,0,Gold Cup,Arlington,United States,True,2023-07-08-Panama-Qatar
44755,2023-07-08,Mexico,Costa Rica,2,0,Gold Cup,Arlington,United States,True,2023-07-08-Mexico-Costa Rica
44756,2023-07-09,Guatemala,Jamaica,0,1,Gold Cup,Cincinnati,United States,True,2023-07-09-Guatemala-Jamaica
44759,2023-07-12,Jamaica,Mexico,0,3,Gold Cup,Paradise,United States,True,2023-07-12-Jamaica-Mexico
44761,2023-07-16,Mexico,Panama,1,0,Gold Cup,Inglewood,United States,True,2023-07-16-Mexico-Panama

In [ ]:
shootouts_df[shootouts_df.date == '1967-08-22']
goal_scorer_df[goal_scorer_df.date == '1967-08-22']

Empty DataFrame
Columns: [date, home_team, away_team, team, scorer, minute, own_goal, penalty, ID]
Index: []